body {
    font-family: "Roboto",sans-serif;
    weight: "Regular";
    size: "16px";
    letter-spacing: 2%;
    line-height: 24px;
    color: #434455;
    background-color: #FFFFFF;
}
img {
    display: block;
}
.head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navigation {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: #4d5ae5;
    text-transform: uppercase;
    margin-left: 156px;
   
}
.nav {
    display: flex;
    gap: 40px;
}
.upstudio {
    color: #2e2f42;
}
.nav .link {
    color: #2e2f42;
    font-weight: 500;
    letter-spacing: 0.02em;
}
.nav .link:hover,
.nav .link:focus {
    color: #404bbf;
}
.subnav {
    font-weight: 500;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.adres {
    font-style: normal;
    color: #434455;
}
.telemail {
    display: flex;
    gap: 40px;
    margin-right: 156px;
}
.mail {
    letter-spacing: 0.02em;
    color: #434455;
}
.adres .mail:hover, 
.adres .mail:focus {
    color: #404bbf;
}

a:link {
    text-decoration: none;
}
ul {
    list-style-type: none;
}
.scn {
    background-color: #2E2F42;
    width: 1440px;
    height: 600px;
}
.section-text {
    width: 496px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding-top: 188px;
}
.title {
    box-sizing: border-box;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
    margin-bottom: 48px;
}
.btn{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: #4D5AE5;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    color: #ffffff;
    cursor: pointer;
    border-radius: 4px;
    padding: 16px 32px;
    width: 170px;
    height: 56px;
    margin-right: auto;
    margin-left: auto;

}
.btn:hover,
.btn:focus {
    background-color: #404BBF;
}
.once {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.second {
    letter-spacing: 0.02em;
}
.scn-second {
    background-color: #F4F4FD;
}
.develop {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}
.sps {
    background-color: #FFFFFF;
}
.first {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.parag {
    font-size: 16px;
    letter-spacing: 0.02em;
    line-height: 1.5;
    color: #434455;
}
.portf {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}
.aplication {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.parag-app {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.down {
    background-color: #2E2F42;
}
.inc {
    color: #f4f4fd;
    letter-spacing: 0.02em;
}
.downstudio {
    color: #f4f4fd;
}