body {
    font-family: "Roboto",sans-serif;
    weight: "Regular";
    size: "16px";
    letter-spacing: 2%;
    line-height: 24px;
    color: #434455;
    background-color: #FFFFFF;
}
a:link {
    text-decoration: none;
}

ul {
    list-style-type: none;
}
* {
    box-sizing: border-box;
}
img {
    display: block;
}
.header {
    display: flex;
    border-bottom: 1px solid #e7e9fc;
    align-items: center;
}
.container {
    display: flex;
    align-items: center;
    padding: 0 15px;
}
.header-container {
    width: 1158px;
    margin: 0;
}

.navigation {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: #4d5ae5;
    text-transform: uppercase;
    margin-right: 76px;
}
.nav {
    display: flex;
    align-items: center;
    
}
.list {
    display: flex;
    gap: 40px;
    margin-top: 0;
    margin-bottom: 0;
    
}
.upstudio {
    color: #2e2f42;
}
.nav .list {
    color: #2e2f42;
    font-weight: 500;
    letter-spacing: 0.02em;
    padding: 24px 0;
}
.nav .link:hover,
.nav .link:focus {
    color: #404bbf;
}
.subnav {
    font-weight: 500;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.adres {
    font-style: normal;
    color: #434455;
}
.telemail {
    display: flex;
    gap: 40px;
}
.mail {
    letter-spacing: 0.02em;
    color: #434455;
}
.adres .mail:hover, 
.adres .mail:focus {
    color: #404bbf;
}


.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2E2F42;
    padding: 188px 0;  
}

.title {
    max-width: 496px;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
}
.btn{
    display: block;
    background-color: #4D5AE5;
    color: #ffffff;
    cursor: pointer;
    border-radius: 4px;
    padding: 16px 32px;
    min-width: 169px;
    border: none;
    height: 56px;
}
.btn:hover,
.btn:focus {
    background-color: #404BBF;
}

.tehnologies {
    padding: 120px 0;
}

.visual-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect (0 0 0 0);
    overflow: hidden;
}

.four_p {
    display: flex;
    max-width: 1128px
    gap: 24px;
}
.once {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}
.second {
    letter-spacing: 0.02em;
}
.scn-second {
    background-color: #F4F4FD;
}
.develop {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}
.team {
    display: flex;
}
.sps {
    background-color: #FFFFFF;
}
.first {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.parag {
    font-size: 16px;
    letter-spacing: 0.02em;
    line-height: 1.5;
    color: #434455;
}
.portf {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}
.aplication {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.parag-app {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.down {
    background-color: #2E2F42;
}
.inc {
    color: #f4f4fd;
    letter-spacing: 0.02em;
}
.downstudio {
    color: #f4f4fd;
}