body {
    font-family: "Roboto",sans-serif;
    weight: "Regular";
    size: "16px";
    letter-spacing: 2%;
    line-height: 24px;
    color: #434455;
    background-color: #FFFFFF;
}

a {
    text-decoration: none;
}
h2,h2,h3,h4,h5,h6,p {
    margin-top: 0;
    margin-top: 0;
}

ul,
ol {
    margin-top: 0;
    margin-top: 0;
    padding-left: 0;
    list-style-type: none;
}

* {
    box-sizing: border-box;
}

img {
    display: block;
}

.header {
    border-bottom: 1px solid #e7e9fc;
}

.container {
    width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: #4d5ae5;
    text-transform: uppercase;
    margin-right: 76px;
}
.header__page .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__nav {
    display: flex;
    align-items: baseline;
}

.list__header {
    display: flex;
    gap: 40px;
}

.link__header {
    padding: 24px 0;
    display: block;
}

.logo__span {
    color: #2e2f42;
}

.header__nav {
    color: #2e2f42;
    font-weight: 500;
    letter-spacing: 0.02em;
    padding: 24px 0;
}

.header__nav .link__header:hover,
.header__nav .link__header:focus {
    color: #404bbf;
}

.address {
    font-style: normal;
    color: #434455;
}
.address__list {
    display: flex;
    gap: 40px;
}

.address__header {
    letter-spacing: 0.02em;
    color: #434455;
}

.adress .address__header:hover, 
.adress .address__header:focus {
    color: #404bbf;
}


.hero {
    background-color: #2E2F42;
    padding: 188px 0;  
}
section .container {
    flex-direction: column;
}
.title {
    max-width: 496px;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
}

.btn {
    display: block;
    background-color: #4D5AE5;
    color: #ffffff;
    cursor: pointer;
    border-radius: 4px;
    padding: 16px 32px;
    min-width: 169px;
    border: none;
    height: 56px;
}

.btn:hover,
.btn:focus {
    background-color: #404BBF;
}

.tehnologies {
    display: flex;
    padding: 120px 0;
    justify-content: center;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.tehnologies__list {
    display: flex;
    max-width: 1128px
    gap: 24px;
}

.tehnologies__desk {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.tehnologies__info {
    letter-spacing: 0.02em;
}

.team {
    background-color: #F4F4FD;
}

.team__title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}

.team__list {
    display: flex;
}

.team__card {
    background-color: #FFFFFF;
}

.team__name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.team__desk {
    font-size: 16px;
    letter-spacing: 0.02em;
    line-height: 1.5;
    color: #434455;
}

.portfolio {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}

.portfolio__desk {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.portfolio__info {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.footer {
    background-color: #2E2F42;
}

.footer__desk {
    color: #f4f4fd;
    letter-spacing: 0.02em;
}

.logo__span__footer {
    color: #f4f4fd;
}
